<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/newsuzukihiromasa/Desktop/cocos2dx/7341_Code/Chapter 7/7341_07_FINAL_PROJECT/Victorian Rush Hour</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-07-28T16:27:59Z</date>
	<key>MissingFilePaths</key>
	<array/>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
